{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="col-md-8">
<ul class="list-group">
{% for item in all_msg %}
<li class="list-group-item">
<h6 class="list-group-item-heading">@{{item.name.decode('utf8')}} {{item.time}}</h4>
<p class="list-group-item-text">{{item.content.decode('utf8')}}</p>
</li>
{% endfor %}
</ul>
</div>

<div class="col-md-4 post-box">
<script>
$(document).ready(function(){
    $('#username').val($.cookie('username'))
{# comment out
    $("#submitMsg").submit(function(){
        alert($("#username").val());
    });
#}
});
</script>
<div class="alert alert-warning">Currently English Only</div>
<form id="submitMsg" action="/submit" method="post" role="form">
<div class="form-group">
    <textarea name="content" class="form-control" placeholder="input content" rows="5"></textarea>
</div>
<div class="input-group">
    <span class="input-group-addon">@</span>
    <input id="username" name="username" type="text" class="form-control" placeholder="username">
</div><br>
<div class="input-group">
<button type="submit" class="btn btn-primary">Post</button>
</div>
</form> 
</div>
</div>

{% endblock %}

